/* image popup */
img.mfp-img {
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  position: absolute;
  max-height: 392px;
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mfp-img-container .mfp-content {
  max-width: 400px !important;
}
.mfp-img-container .mfp-close {
  top: -110px;
  right: -24px;
}

/* General Select Styles */
select {
  appearance: none; /* Remove default styling */
  -webkit-appearance: none; /* Remove Chrome and Safari default styling */
  -moz-appearance: none; /* Remove Firefox default styling */
  background-color:#f9f9f7; /* Set background color */
  border: 1px solid #e7e7e5; /* Border color */
  padding: 15px 10px; /* Padding inside the select */
  font-size: 16px; /* Font size */
  font-weight: 500;
  border-radius: 5px; /* Rounded corners */
  width: 100%; /* Full width */
  cursor: pointer; /* Cursor style */
  color: #000;
}

/* Add a custom arrow (triangle) to the select */
select {
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8"><path fill="%23ccc" d="M0 0l6 6 6-6z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 12px 8px;
  padding-right: 30px; /* Extra padding for the arrow */
}

/* Focus State */
select:focus {
  outline: none;
  border-color: #666; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow on focus */
}

/* Disabled State */
select:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

/* Styling the Options (Not always supported, but worth trying) */
select option {
  padding: 10px;
}


.date-picker {
  display: inline-block;
  background: #F9F9F7;
  color: black;
  min-width: 10rem;
  min-height: 2rem;
  padding: .5rem;
  border-radius: .35rem;
  position: relative;
  isolation: isolate;
  width: 100%;
  border:1px solid rgba(29, 35, 31, 0.1);
  padding: 19px 25px;
  font-family: 'Prompt';
}

.date-picker,
.date-picker>* {
  cursor: text;
  font-size: 1rem;
  
}

.date-picker:hover {
  background: rgba(231, 231, 234, 0.28);
}

.date-picker:active {
  background: rgba(233, 233, 234, 0.2);
}

.date-picker:focus>input[type="date"],
.date-picker:focus-within>input[type="date"] {
  color: rgb(0, 0, 0);
}

.date-picker:focus,
.date-picker:focus-within {
  box-shadow: 0 0 0 .1rem rgb(0, 0, 0);
}

.date-picker>.placeholder::after {
  content: "Date";
  pointer-events: none;
  position: absolute;
  inset: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: start;
  padding-left: 23px;
  color: #000000 ;
  opacity:1 !important;
  font-weight: 500;
  min-height: 2rem;
}

.date-picker:focus>.placeholder,
.date-picker:focus-within>.placeholder,
.date-picker>input[type="date"]:valid+.placeholder {
  display: none;
  
}

.date-picker>input[type="date"] {
  background: none;
  border: none;
  outline: none;
  color: transparent;
  font-family: serif;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.date-picker>input[type="date"]:valid {
  color: rgb(0, 0, 0) !important;
}

.date-field{
  width: 100%;
  display: flex;
  height: 60px;
  background: #F9F9F7;
  border:1px solid rgba(29, 35, 31, 0.1);
  border-radius: .35rem;
  margin-bottom: 15px;
}

.date-input{
  background: #F9F9F7;
  border: none!important;
  padding: 2px 18px ;
  color: #222;
}


.time-picker {
  display: inline-block;
  background: #F9F9F7;
  color: black;
  min-width: 10rem;
  min-height: 2rem;
  padding: .5rem;
  border-radius: .35rem;
  position: relative;
  isolation: isolate;
  width: 100%;
  border:1px solid rgba(29, 35, 31, 0.1);
  padding: 19px 25px;
  font-family: 'Prompt';
}

.time-picker,
.time-picker>* {
  cursor: text;
  font-size: 1rem;
}

.time-picker:hover {
  background: #F9F9F7;
}

.time-picker:active {
  background: #F9F9F7;
}

.time-picker:focus>input[type="time"],
.time-picker:focus-within>input[type="time"] {
  color: #000
}

.time-picker:focus,
.time-picker:focus-within {
  box-shadow: 0 0 0 .1rem #F9F9F7;;
}

.time-picker>.placeholder::after {
  content: "Time";
  pointer-events: none;
  position: absolute;
  inset: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: start;
  padding-left: 23px;
  color: #222;
  min-height: 2rem;
}

.time-picker:focus>.placeholder,
.time-picker:focus-within>.placeholder,
.time-picker>input[type="time"]:valid+.placeholder {
  display: none;
}

.time-picker>input[type="time"] {
  background: none;
  border: none;
  outline: none;
  color: transparent;
  font-family: serif;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.time-picker>input[type="time"]:valid {
  color: black !important;
}

.view-more-btn{
  border-radius: 10px;
  background: #222;
  font-size: 14px;
  color: #f2f2f2;
  width: fit-content;
  padding: 5px 10px;
}